@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>
<div class="text-center">
    <h1 id="greeting" class="display-4">Welcome To BeeBook</h1>
</div>
<div class="picture-container">
    <img src="https://images.unsplash.com/photo-1568526381923-caf3fd520382?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
    <div class="text-overlay">Find your Hive and discover what all the Buzz is about!</div>
</div>