<div class="signup-form">
    <h2>Sign up for Acebook</h2>
    <form action="/signup" method="post">
        <input type="text" id="firstname" name="firstname" placeholder="First Name"/>
        <input type="text" id="lastname" name="lastname" placeholder="Last Name"/>
        <input type="email" id="email" name="email" placeholder="Email"/>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <input type="submit" id="submit" value="Sign Up"/>
    </form>
    <div>
        <a href="/signin">Already have an account?</a>
    </div>
</div>