<div class="login-form">
    <h2>Log in to BeeBook</h2>
    <form action="/signin" method="post">
        <input type='email' id='email' name='email' placeholder='Email' />
        <input type='password' id='password' name='password' placeholder='Password'/>
        <input type='submit' id='submit' value='Log In' />
    </form>
    <div>
        <a href="/signup">Create new account</a>
    </div>
</div>

